:root {
    --light: blanchedalmond; 
}

.ibm-plex-serif-regular {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    background-color: var(--light);
    margin: 0 auto;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.image-container {
    flex: 2;
    overflow: hidden;
}

img {
    height: 100vh;
}

.content-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-container div:first-child {
    margin-top: 10rem;
}

.content-container div:last-child {
    margin-bottom: 10rem;
}